html {
    background-image: url('../images/background.jpg');
    background-position: center;
    background-size: cover;
    background-clip: content-box;
    background-attachment: fixed;
}

h1 {
    letter-spacing: 5px !important;
    background-color: rgba(25, 205, 255, 0.9);
}

textarea {
    background-color: rgba(245, 245, 245, .92) !important;
}